@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap");

body {
    font-family: "IBM Plex Mono", monospace;
    background: hsl(56.3, 100%, 93.7%);
    display: flex;
    justify-content: center;
}

body > * > button {
    font-family: "IBM Plex Mono", monospace;
}

#container {
    display: grid;
    /* grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px; */
    /* grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px; */
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
}

#container > button {
    background: #fff;
    border: 1px dashed hsl(120, 28%, 60.8%);
    margin: 4px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
}

.selected {
    background: hsl(283.7, 100%, 90.6%) !important;
}

#board > button {
    border: 1px dashed hsl(120, 28%, 60.8%);
    padding: 16px 32px;
    font-size: 0.8rem;
}

#submit {
    background: hsl(133.5, 100%, 93.9%);
}

#cancel {
    background: hsl(349.1, 100%, 95.7%);
}

button:hover:enabled {
    transform: translate(-1px, -1px);
    filter: drop-shadow(2px 2px 2px hsl(0, 0%, 70%));
}

#score {
    margin-right: 16px;
}

#scoreChange {
    visibility: hidden;
    color: forestgreen;
}

#scoreChange.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#errorMsg {
    visibility: hidden;
    color: red;
}

#errorMsg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

progress {
    width: 100%;
    margin-bottom: 16px;
}

footer {
    margin-top: 64px;
    font-size: 0.8rem;
    color: #737373;
}
